body{
    background-size: cover;
    background-position: center;
}
.heading{
    background-color: burlywood;
    width: 100%;
    font-size: 30px;
    margin-top: 0;
    text-shadow: 2px 2px 2px plum;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: deeppink;
}
#NOTE{
    font-size: 20px;
    color: chocolate;
}
#start{
    color: darkturquoise;
    background-color: darkorchid;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-stretch: semi-expanded;
}
#stats{
    margin-right: 10px;
}
canvas{
    border-radius: 20px;
    border: solid black 2px;
    margin-top: 80px;
    box-shadow: 12px 12px 10px purple;
}